# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# Node
node_modules/

# Build
dist/
build/

# Model
*.pkl

# Dataset (optional)
draac_dataset.csv

# Logs
*.log